doctype html
html
  head
    title 3D Platformer by Mike
    script(src="game.js")
    script(src="blocks.js")
    script(src="main.js")
    script(src="mike.js")
    script(src="three.min.js")
    script(src="jquery.js")
    link(rel="stylesheet" type="text/css" href="main.css")
  body
    canvas#canvas
    #message
